@page "/"
<h3>Л/Р №4</h3>
<p>Использованная библиотка компонентов - <a href="https://blazorise.com/docs">Blazorise</a></p>
<p>Использованный css фреймворк - <a href="https://bootstrap5demo.blazorise.com/">Bootstrap 5</a></p>
<p></p>

@code {

}
